.card {
    position: relative;
    background-color: white;
    width: 250px;
    height: 325px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.2);
    cursor: pointer;
}

.desc-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0px; 
    right: 0px;
    text-align: center;
    line-height: 1.5;
    height: 100%; 
    color: white;
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    word-wrap: break-word;
    overflow-y: auto; 
    white-space: normal;
}

.card:hover .desc-text {
    visibility: visible;
    opacity: 1;
}

.card:hover {
    box-shadow: none;
}



.image-container {
    height: 75%;
    overflow: hidden; 
    border-radius: 10px
}

.card-text {
    margin-top: 10px;
    line-height: 1.8;
}

.card-text p{
    font-family: 'Courier New', Courier, monospace;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

@media only screen and (max-width: 1020px) {
    .card:hover .desc-text {
        visibility: hidden;
        opacity: 0;
    }
}

