.size-title {
    font-size: 1.3em;
    text-decoration: underline;
    text-underline-offset: 5px;
    padding-bottom: 5px;
}

.segment{
    background-color: hsl(229, 12%, 17%);
    color: white;
    font-size: 1.1em;
    border: 2px solid hsl(229, 12%, 17%);
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.segment.selected {
    background-color: transparent;
    border: 2px solid hsl(206, 100%, 50%);
    color: hsl(206, 100%, 50%);
}

@media only screen and (max-width: 1020px) {
    .size-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .size-title {
        padding-right: 10px;
    }

    .segment {
        font-size: 0.8em;
    }
}
