.footer-container{
    background-color: hsl(206, 100%, 37%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
}

.footer-container h3{
    font-size: 1.8em;
    margin: 10px 0 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);;
}

.email-container {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background: hsl(229, 12%, 17%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.email-input {
    font-size: 1em;
    color: white;
    outline: none;
    border: none;
    background: transparent;
}

.email-input::placeholder {
    color: rgb(167, 167, 167)
}

.email-btn {
    background-color: hsl(206, 100%, 37%);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s, border-color 0.2s;
}

.email-btn:active {
    background-color: hsl(206, 100%, 27%);
}

.footer-content {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.footer-content p{
    font-size: 1.1em;
    margin: 0 30px;
    transition: color 0.2s ease-in-out;
    cursor: pointer
}

.footer-content p:hover {
    color: hsl(229, 12%, 17%); 
}

.personal-content {
    padding: 40px 0 10px;
    bottom: 0;
}

.personal-content p{
    font-size: 0.8em;
    text-align: center;
}

@media only screen and (max-width: 1020px) {
    .footer-content p{
        text-align: center;
        margin: 0 15px;
    }
}